:root {
    --c_azul_medio: #05aff2;
    --c_azul_claro: #05dbf2;
    --c_verde_claro: #05f2db;
    --c_laranja_medio: #f28729;
    --c_laranja_claro: #f25c05;

    --c_branco_claro: #fff;
    --c_cinza_claro: #8C8C8C;
    --c_cinza_medio: #4d4d4f;
    --c_cinza_escuro: #252525;
}