@import url('cores.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    color: #fff;
}
a{
    text-decoration: none;
}

/*****************************************************************************
********************************** CONTAINER *********************************
******************************************************************************/
.container{
    padding: 0;
    margin: 0;
}


header{
    background-color: var(--c_azul_medio);
}
header nav{
    padding: 5px 20px 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

header nav .menu{
    display: none;
}



main{
    background-color: var(--c_verde_claro);
}

main #banner-principal{
    position: relative;

    background-color: var(--c_azul_claro);
}

main #banner-principal img{
    min-height: 260px;
    min-width: 220px;
}

footer{
    background-color: var(--c_azul_medio);
    padding: 80px 0;
}