/*****************************************************************************
******************************* IMPORTAÇÕES *********************************
******************************************************************************/
@import url('cores.css');

/*****************************************************************************
**************************** CONFIGURAÇÕES GERIAS *****************************
******************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    color: #fff;
}
a{
    text-decoration: none;
}
ul{
    margin: 0 !important;
}
/*****************************************************************************
********************************** CONTAINER *********************************
******************************************************************************/
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'banner'
        'main'
        'footer'
    ;    
    padding: 0;
    margin: 0;
}

/*****************************************************************************
*********************************** HEADER ***********************************
******************************************************************************/
header{
    grid-area: header;
    background-color: var(--c_azul_medio);
}

header nav{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    transition: background-color .2s ease-in;
    transition-delay: .6s;
}

header nav.scroll-fixed-navbar{
    background-color: var(--c_azul_medio);
    box-shadow: 0px 2px 5px #00000069;    
    transition-delay: 0s;
}

header nav .nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

header nav .nav_collapse{
    width: 100%;
    height: 0;
    background-color: var(--c_azul_medio);
    overflow: hidden;
    transition: height .3s ease-in;
}

header nav .menu{
    list-style: none;
    display: flex;
    flex-direction: column;
}

header .menu li{
    text-align: center;
    margin-block: 3px;
}

header .menu li a{
    display: block;
    padding-block: 7px;
    color: #fff;
}header .menu li a:hover{
    background-color: var(--c_azul_claro);
}

header .material-icons{
    cursor: pointer;
}

header .nav_collapse{
    flex-grow: 1;
    flex-basis: 100%;
}
  
/*****************************************************************************
********************************** BANNER ************************************
******************************************************************************/
#banner-principal{
    grid-area: banner;
    background-color: var(--c_azul_claro);
}

#banner-principal img{
    object-fit: cover;
    height: 370px;
    min-height: 260px;
    min-width: 100%;
}

/*****************************************************************************
************************************ MAIN ************************************
******************************************************************************/
main{
    grid-area: main;
    background-color: var(--c_verde_claro);
}

/*****************************************************************************
************************************ FOOTER **********************************
******************************************************************************/
footer{
    grid-area: footer;
    background-color: var(--c_azul_medio);
    padding: 80px 0;
}